
DATABASE_URL="postgresql://postgres:vince@localhost:5432/mydb?schema=public"

NEXT_PUBLIC_REACT_APP_BACKEND_URL="http://localhost:3000"
NEXT_PUBLIC_ENV="prod"
# NEXT_PUBLIC_ENV="local"

RESEND_API_KEY="clefresend"

APP_SECRET="sk_test_51J3"

BASE_URL="http://localhost:3000"