
DATABASE_URL="postgresql://postgres:vince@localhost:5432/mydb?schema=public"

NEXT_PUBLIC_REACT_APP_BACKEND_URL="http://localhost:3000"

RESEND_API_KEY="re_jPgdPAH6_5qpQSWF6w7ifZjUJEAKbTsNy"

APP_SECRET="sk_test_51J3"