// example .env file for backend server 

DATABASE_URL="postgresql://user:password@localhost:5432/smartflow"
DATABASE_PORT=3310
DATABASE_NAME=smartflow
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_HOST=localhost

PORT=3000
FRONTEND_URL=http://localhost:3000
```
