@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  @apply bg-light-primary text-light-secondary;
}

body.dark {
  @apply bg-dark-primary text-dark-secondary;
} */
